<div class="content">
  <div class="parent"></div>
  <div class="row heading mb-2">
    <img src="../../../../assets/images/Clara_heading.png" alt="Clara" />
  </div>
  <div class="row heading mb-4">
    <div class="col-2"></div>
    <div class="col-8 message">
      <span class="row justify-content-center"
        >Discover the perfect products
      </span>
      <span class="row justify-content-center"
        >for you and for your needs.</span
      >
    </div>
    <div class="col-2"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="loginCard col-12">
        <form
          class="container pt-4"
          [formGroup]="loginform"
          (ngSubmit)="loginsubmit()"
        >
          <div class="form-group">
            <span class="display-inline"
              ><label for="input1">Number or Email</label>
              <span
                class="text-danger float-right"
                *ngIf="submitted && f.numberoremail.errors?.required"
              >
                Enter Name or Email
              </span>
              <span
                class="text-danger float-right"
                *ngIf="
                  f.numberoremail.touched &&
                  submitted &&
                  f.numberoremail.errors?.validNumberOrEmail
                "
              >
                Enter a valid value
              </span>
            </span>

            <input
              type="text"
              class="form-control form-control-sm"
              id="input1"
              formControlName="numberoremail"
              aria-describedby="emailHelp"
              placeholder="Enter your number or email"
              [ngClass]="{
                'invalid-input': submitted && f.numberoremail.invalid,
                'input-touched':
                  (f.numberoremail.dirty || f.numberoremail.touched) &&
                  !f.numberoremail.invalid
              }"
            />
          </div>
          <div class="form-group">
            <span class="display-inline"
              ><label for="exampleInputEmail1">Password</label>
              <span
                class="text-danger float-right"
                *ngIf="submitted && f.password.errors?.required"
              >
                Enter Password
              </span>
            </span>

            <label for="input2">Password</label>

            <div class="input-group">
              <input
                type="password"
                class="form-control form-control-sm"
                id="input2"
                formControlName="password"
                placeholder="Enter your password"
                [ngClass]="{
                  'invalid-input': submitted && f.password.invalid,
                  'input-touched':
                    (f.password.dirty || f.password.touched) &&
                    !f.password.invalid
                }"
              />

              <span class="icon-inside"
                ><fa-icon [icon]="faEye" class="icon"></fa-icon
              ></span>
            </div>
          </div>
          <div class="col-12 text-center">
            <span class="forgot">Forgot Password? </span>
          </div>
          <div class="col-12 text-center mt-3 signButton">
            <button type="submit" class="btn">Sign In</button>
          </div>
          <div class="col-12 text-center mt-3">
            <span class="guest"><u>Continue as a Guest</u> </span>
          </div>
          <div class="col-12 text-center mt-3 mb-4">
            <span class="display-inline register">Not Registerd yet?</span
            ><span class="display-inline signup">SignUp</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
