.content {
  background-color: #F2ECDE;
}
.container {
  height: 30em;
}
.heading {
    justify-content: center;
}
.message{
    color: #050505;
    font-size: 17px;
    font-family: Circular Std;

font-style: normal;
font-weight:550;
line-height: 25px;
letter-spacing: 0px;



}

.parent {
  background-image: url("../../../../assets/images/homeback.png");
  height: 16em;
  background-size: cover;
  background-repeat: no-repeat;
}
.loginCard {
  height: auto;
  border-radius: 36px;
  background-color: white;
}
.formClass {
  color: #050505;
  font-family: Circular Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
input {
  height: 45px !important;

  border-radius: 12px;

  border: 1px solid #050505;
}
.loginform {
  display: flex;
  align-content: center;
}

.icon-inside {
  position: absolute;
  right: 10px;
  top: calc(50% - 12px);
  pointer-events: none;
  font-size: 16px;
  font-size: 1.125rem;
  color: #c4c3c3;
  z-index: 3;
}

.forgot {
  color: #006d4e;
  font-size: 13px;
}
.guest {
  color: #ff9d80;
  font-size: 16px;
}
.btn {
  background-color: #c95d21;
  width: 90%;
  border-radius: 20px;
  color: white;
}
.register {
  font-size: 16px;
  color: black;
}
.signup {
  font-size: 16px;
  color: #006d4e;
}
